[Unit]
Description=Logdy Service
After=network.target

[Service]
Type=simple
User={{ logdy_user }}
Group={{ logdy_group }}
EnvironmentFile=/etc/default/logdy
ExecStart=/usr/local/bin/logdy socket {{ logdy_listen_port }}
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
