[Unit]
Description=Logdy Service
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/logdy
User={{ logdy_user }}
Group={{ logdy_group }}
ExecStart=/usr/local/bin/logdy {{ mailpit_cli_args | join(' ') }}
StandardOutput=journal
SyslogIdentifier=mailpit
Restart=always

[Install]
WantedBy=multi-user.target
